@charset "utf-8";
/* CSS Document */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
html, body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
}
.sidebar {
	height: 100%;
	width: 20%;
	max-width: 300px;
	position: fixed!important;
	font-weight: bold;
	top: 0;
	color: #000!important;
	background-color: #febc11!important;
	font-size: 18px!important;
	padding: 8px 16px!important;
}
.container {
	padding: 0.01em 16px;
}
.side-logo {
	padding-top: 64px!important;
	padding-bottom: 10px!important;
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 154px;
	max-width: 100%;
}
.img-link {
	text-decoration: none;
	color: #000;
}
.side-hr {
	border: 5px solid #000;
	margin: 20px 0;
	width: 100%;
	border-radius: 4px;
}
.container .side-link {
	width: 100%;
	display: block;
	padding: 8px 16px;
	text-align: left;
	border: none;
	white-space: normal;
	float: none;
	outline: 0;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	cursor: pointer;
	user-select: none;
}   
.side-link:hover {
	color: #fff!important;
	background-color: #000!important;
}
.main, #main {
	margin-left: 21%;
	margin-right: 4%;
	margin-top: 80px;
}
a {
	color: darkslategrey;
}
h1, h2, h3 {
	font-weight: 400;
	margin: 10px 0;
}
h1 {
	font-size: 48px!important;
}
h2 {
	font-size: 36px!important;
	color: #febc11!important;
}
h3 {
	font-size: 18px;
	text-align: center;
	margin-top: 0;
	overflow: hidden;
}
h4 {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 0;
}
h5 {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}
hr {
	border: 5px solid #febc11;
	margin: 20px 0;
	width: 75px;
	border-radius: 4px;
}
.container:after, .container:before, .team-cards-layout:after, .team-cards-layout:before, {
	content: "";
	display: table;
	clear: both;
}
.team-cards-layout, .team-cards-layout>.column {
	padding: 0 8px;
	margin-bottom: 10px!important;
}
.column {
	float: left;
	width: 33.33333%;
}
.team-card {
	color: #000!important;
	background-color: #f1f1f1!important;
}
.contact-table, .office-hours-table, .grade-entry-table {
	width: 90%;
	text-align: center;
	border: 3px solid #000;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
.office-hours-table {
	margin-bottom: 10px;
}
th {
	border-bottom: none;
}
.contact-table th {
	width: 33.33333%;
}
.office-hours-table th {
	width: 14.28571%;
}
.grade-entry-table th {
	width: 50%;
}
td {
	border-top: none;
}
th, td {
	padding: 10px;
}
.alert {
	background-color: #f44336;
	color: #fff;
	width: 75%;
	padding: 16px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}
.no-margin {
	margin: 0;
}
.grade-entry-table {
	margin-top: 10px;
}
.radioContainer {
	position: relative;
	padding-left: 35px;
	font-size: 18px;
}
.radioContainer input {
	opacity: 0;
}
.radio {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #febc11!important;
	border-radius: 50%;
}
.radio:after {
	content: "";
	position: absolute;
	display: none;
}
.radioContainer input:checked ~ .radio:after {
	display: block;
}
.radioContainer .radio:after {
	top: 9px;
	left: 9px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: #000!important;
}
select {
	padding: 9px 0;
	width: 100%;
	border: none;
	border-bottom: 1px solid #000;
	font: inherit;
}
#evaluateButton {
	padding-top: 10px;
	margin-bottom: 10px;
}
#resetButton {
	margin-bottom: 10px;
}
button, reset {
	border: none;
	display: block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: #000!important;
	background-color: #febc11!important;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	width: 100%;
	font: inherit;
}
button:hover {
	color: #fff!important;
	background-color: #000!important;
}